@page
@model ProtectedWeb.Pages.Manufacturer.CatalogModel
@{
    <div class="container text-left">
        <a href="/Manufacturer/Add" class="btn btn-primary">Добавить</a>
    </div>
    @foreach (Models.Manufacturer manufacturer in Model.Manufacturers)
    {
        <form method="post" id="dataForm @manufacturer.Id" asp-anti-forgery="true">
            <div class="container mt-5">
                <div class="row justify-content-between">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ManufacturerId">ID:</label>
                            <input asp-for="Id" type="text" class="form-control" id="ManufacturerId" value="@manufacturer.Id" readonly>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="ManufacturerName">Название:</label>
                            <input asp-for="Name" type="text" class="form-control" id="ManufacturerName" value="@manufacturer.Name">
                        </div>
                    </div>
                    <div class="col-md-2 d-flex align-items-end">
                        <button type="submit" class="btn btn-primary col-md-12" id="saveButton" name="action" value="save">Сохранить</button>
                    </div>
                    <div class="col-md-2 d-flex align-items-end">
                        <button class="btn btn-danger col-md-12" id="deleteButton" name="action" value="delete">Удалить</button>
                    </div>
                </div>
            </div>
        </form>
    }
}
